
@font-face {
    font-family: futura-pt, sans-serif;
    src: url("https://use.typekit.net/dvl4agg.css");
}
.header-section {
  margin: 0;
  background: #456783;
  background-size: cover;
  color: white;
}
video {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: relative; */
    object-fit: cover;
    object-position: center;
}
header{
  width:100%;
  margin:0;
  padding:0;
  text-align: center;
}

header, main, p, h1, h3, h4, h6 {

  font-family: "futura-pt-bold", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.30rem;
  border: 0;
  text-align:center;

}
.text-merch{
  color: #456783 !important;
  margin: 0;
}

 h1,h2{
  padding-top:5rem;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.30rem;
  border: 0;
  color: inherit;
  text-align: center;
}
.primary-section{
  padding-top: 0.5rem;
  font-family: 'futura-pt-bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.20rem;
  border: 0;

}
.label-border{
  border: 0.5px solid #7F7D80;
  margin: 1%;
  overflow: hidden;
  width: auto;
  display: inline-block;
}
.label-section{
  color: black;
  padding:5rem;

  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  background: #456783;
  background-size: cover;

}
.merch-section{
  padding: 5rem;
  background-color: #FF8469;
  background-size: cover;
}

button {
  border-radius: 0;
}
button:focus {
  outline: none !important;
  outline: none !important;
}
.ghost-btn {
  align-items: center;
  /* display: inline-block; */
  padding: 1.25rem 2rem;
  margin: 0;
  border: 1.5px #FF8469;
  color: #FF8469;
  text-align: center;
  font-family:'futura-pt-bold' !important;
  /* border-style: : none; */
  outline; none;
  border-radius: 6px;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.30rem;
  border: 0;
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
}
.ghost-btn:hover {
  background-color:#FF8469;
  color:white;
  text-decoration: none;
  transition: 0.3s;
}
.ghost-button {
  align-items: right;
  display: inline-block;
  width: 100%;
  border: 1px solid #FF8469;
  padding: 1.25rem 2rem;


  text-align: center;
  border-style: : none;

  font-family:'futura-pt-bold' !important;
  color: #FF8469;
  text-transform: uppercase;
  letter-spacing: 0.30rem;


}
.ghost-button:hover {
  background-color:#FF8469;
  color:white;
  text-decoration: none;
  transition: 0.3s;
}
.ghost-button:focus, .ghost-button.focus {
  box-shadow: none;
}
.merch-img{
  width:100%;
}
.merch-img:hover{

   transform: scale(1.5);
}
#artist{
  padding: 5rem;
  align-items: center;
  
}
#videos{
  padding: 5rem;
}
grayscale.min.css/*!
 * Start Bootstrap - Grayscale v5.0.8 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #456783;

}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: white;
  border: 2px solid white;
  background-color: #456783;

}

#mainNav .navbar-toggler:focus {
  outline: none;
  background-color: transparent;
  color: white;


}

#mainNav .navbar-brand {
  color: white;
  font-weight: 900;
  padding: .9rem 0;
}
#mainNav .navbar-brand:hover {
  color: #FF8469;
  padding: .9rem 0;
  transition-duration: 0.3s;
}
#mainNav .navbar-nav{
  color: fade(white, 80%);
  outline: none;
  background-color: #456783;
}
#mainNav .nav-item:hover {
  color: #FF8469;
  outline: none;
  background-color:transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
  color: white;

}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #456783;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: #fff 0.3s ease-in-out;
  }

  #mainNav .nav-link {
    -webkit-transition: none;
    transition: 0.5s;
    padding: 2rem 1.5rem;
    color: white;
  }
  #mainNav .nav-link:hover {
    color: #FF8469;
    transition-duration: 0.3s;
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    color: white;
    background-color: #456783;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .nav-link {
    color: white;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: none;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #FF8469;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #456783;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: white;
    outline: none;
    border-bottom: 0.25rem solid white;
  }
}




.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #C7C6A7;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #C7C6A7;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {

  color:#FF8469;
  padding: 10rem 0;
  background: #eeee;
  background: #eeee;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'futura-pt';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.30rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #C7C6A7;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "futura-pt" !important
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #C7C6A7;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #eeee !important;
  background-size: cover;

}
.bg-white {
  background-color: #fff !important;
}


.text-primary {
  color: black;
}
.location-text{
  padding:3rem;
}
/* div .container{
  background-color: #eeee !important;
} */

.footer-section {
  padding: 1rem 0;
  color: #808080;
  background-color: #eeee;
}
.footer-border{
  border-top: 1px solid #E8D1D5;
  padding: 34px 0 0;


}
footer a{
  color: #808080;
}
footer a:hover{
  color: #FF8469;
}
.slider-youtube iframe {
  height: 560px;
}

.slider-youtube .youtube {
  opacity: 1;
  transition: opacity 1s;
  position: relative;
}

.slider-youtube .youtube:not(.slick-current) {
  opacity: 0.4;
  transition: opacity 1s;
  pointer-events: none;
}

img.slick-slide {
  max-width: 100vw;
}

.video-background {
  z-index: -99;
  max-height: 560px;
}

.video-foreground,
.video-background iframe {
  width: 100%;
  height: 560px;
}

.slick-button {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.5);
  text-align: center;
  z-index: 9999;
}

.slick-button img {
  position:absolute;
  width:100%;
  height:100%;
}

.slick-button .icons {
  background-color: #ff214f;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 53px;
  z-index:1;
}

.video-gallery-slider-thumbs .slick-track {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.video-gallery-slider-thumbs .slick-slide {
  border: 1px solid #ddd;
  text-align:center;
  padding: 10px;
}

.video-gallery-slider-thumbs .slick-current {
  border: 1px solid #000;
}

.video-gallery-slider-thumbs .slick-slide:focus,
.video-gallery-slider-thumbs .slick-slide:hover {
  outline:none;
  box-shadow:none;
}


/* image hover */

.photobox{
  display: inline-block;
  margin:   0.5rem;
  overflow: hidden;
  width: auto;
}

.photobox__previewbox{
  position: relative;
  overflow: hidden;
}

.photobox__preview{
  display: block;
  max-width: 100%;
}

.photobox__previewbox:before{
  content: "";
}

.photobox_type21 .photobox__previewbox:before{
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

  position: absolute;
  top: 50%;
  left: 50%;

  transition: transform calc(var(--photoboxAnimationDuration, .4s) / 2) ease-out,   opacity calc(var(--photoboxAnimationDuration, .4s) / 2) ease-out;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
}

.photobox_type21:hover .photobox__previewbox:before{
  opacity: 1;
  transform: translate(-50%, -50%) scale(7);
  transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2), 0s;
  transition-duration: var(--photoboxAnimationDuration, .4s);
}

.photobox_type21 .photobox__label{
  width: 95%;
  text-align: center;

  opacity: 0;
  transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

}

.photobox_type21:hover .photobox__label{
  opacity: 1;
  transition-duration: var(--photoboxAnimationDuration, .4s);
  transition-delay: var(--photoboxAnimationDuration, .4s);
}

.photobox_type21:hover .photobox__label a{
  color:#fff;
}

/* partners hover */

.photobox_type12:hover .photobox__label a{
  color: #FF8469;
}
.photobox_type12 .photobox__previewbox:before{
  width: 0;
  height: 0;
  padding: 25%;

  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .10));
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transition: transform var(--photoboxAnimationDuration, .4s) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
}

.photobox_type12:hover .photobox__previewbox:before{
  transform: translate(-50%, -50%) scale(4);
  transition-duration: calc(var(--photoboxAnimationDuration, .4s) * 2);
  background-color: black;
}

.photobox_type12 .photobox__label{
  width: 95%;
  text-align: center;

  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity var(--photoboxAnimationDuration, .4s) ease-out;
  will-change: opacity;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

}

.photobox_type12:hover .photobox__label{
  transition-duration: calc(var(--photoboxAnimationDuration, .4s) / 2);
  transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
  opacity: 1;
  color:#fff;
  font-weight: 400;
}

.photobox_type12 .photobox__preview{
	transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1);
}

.photobox_type12:hover .photobox__preview{
  transform: scale(1);
}

.photobox_type12_font{
  font-size: 80%;
  font-weight: 300;
}
/* .item {
    border: 0;
    margin: 2%;
    overflow: hidden;
    width: auto;
    display: inline-block;
}
.item img {
    max-width: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.item:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}


.artist-name{

  font-family: 'futura-pt';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
} */
