
@font-face {
    font-family: futura-pt, sans-serif;
    src: url("https://use.typekit.net/dvl4agg.css");
}
.header-section {
  margin: 0;
  background: #456783;
  background-size: cover;
  color: white;
}
video {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: relative; */
    object-fit: cover;
    object-position: center;
}
header{
  width:100%;
  margin:0;
  padding:0;
  text-align: center;
}
/* span{
  font-family: futura-pt-bold, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.20rem;
  border: 0;
  color: white;

} */
header, main, p, h1, h3, h4, h6 {

  font-family: "futura-pt-bold", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.30rem;
  border: 0;
  text-align:center;

}
.text-merch{
  color: #456783 !important;
}

 h2{
  padding-top:5rem;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.30rem;
  border: 0;
  color: white;
  text-align: center;
}
.primary-section{
  padding-top: 0.5rem;
  font-family: 'futura-pt-bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.20rem;
  border: 0;

}
.label-border{
  border: 1px solid #333;
  border: 0;
  margin: 2%;
  overflow: hidden;
  width: auto;
  display: inline-block;
}
.label-section{
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'futura-pt-bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.20rem;
  background: #456783;
  background-size: cover;

}
.merch-section{
  background-color: #FF8469;
  background-size: cover;
}
/* .content{
  position: absolute;
  align: center;
} */

.ghost-btn {
  align-items: center;
  /* display: inline-block; */
  padding: 18px;
  margin: 0;
  border: 1.5px #FF8469;
  color: #FF8469;
  text-align: center;
  font-family:'futura-pt-bold' !important;
  /* border-style: : none; */
  outline; none;
  border-radius: 6px;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}
.ghost-btn:hover {
  background-color:#FF8469;
  color:white;
  text-decoration: none;
  transition: 0.3s;
}
.ghost-button {
  align-items: right;
  font-size: 0.8rem;
  display: inline-block;
  padding: 2px 3px;
  margin:  0;
  border: 1px solid #ced4da;
  color: #343a40;
  font-size: 80%;
  text-align: center;
  font-family:"futura-pt" !important;
  /* border-style: : none; */
  outline; 0;
}
.ghost-button:hover {
  background-color:#343a40;
  color:white;
  text-decoration: none;
  transition: 0.3s;
}
.merch-img{
  width:100%;
}
.merch-img:hover{

   transform: scale(1.5);
}
#artist{
  padding: 20px;

}

grayscale.min.css/*!
 * Start Bootstrap - Grayscale v5.0.8 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #456783;

}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: white;
  border: 2px solid white;
  background-color: #456783;

}

#mainNav .navbar-toggler:focus {
  outline: none;
  background-color: transparent;
  color: white;


}

#mainNav .navbar-brand {
  color: white;
  font-weight: 900;
  padding: .9rem 0;
}
#mainNav .navbar-brand:hover {
  color: #FF8469;
  padding: .9rem 0;
  transition-duration: 0.3s;
}
#mainNav .navbar-nav{
  color: fade(white, 80%);
  outline: none;
  background-color: #456783;
}
#mainNav .nav-item:hover {
  color: #FF8469;
  outline: none;
  background-color:transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
  color: white;

}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #456783;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: #fff 0.3s ease-in-out;
  }

  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: white;
  }
  #mainNav .nav-link:hover {
    color: #FF8469;
    transition-duration: 0.3s;
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    color: white;
    background-color: #456783;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .nav-link {
    color: white;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: none;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #FF8469;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #456783;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: white;
    outline: none;
    border-bottom: 0.25rem solid white;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: "futura-pt" !important
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "futura-pt" !important
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #C7C6A7;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

/* .about-section {
  color:#fff;
  padding-top: 5rem;
  margin: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
} */

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #C7C6A7;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #C7C6A7;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff)), color-stop(75%, #6CA1CC), to(#456783)), url("");
  background: linear-gradient(to bottom, #fff 0%, #6CA1CC 75%, #456783 100%), url("");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'futura-pt';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #C7C6A7;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "futura-pt" !important
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #C7C6A7;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.artist-a{
  color:white !important;
}
.artist-a:hover{
  color:#FF8469 !important;
}
.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #456783 !important;
}
.bg-white {
  background-color: #fff !important;
}


.text-primary {
  color: black;
}

footer {
  padding: 5rem 0;
}
/* video */


/* .content {
  margin-bottom: 100px;
} */

.slider-youtube iframe {
  height: 560px;
}

.slider-youtube .youtube {
  opacity: 1;
  transition: opacity 1s;
  position: relative;
}

.slider-youtube .youtube:not(.slick-current) {
  opacity: 0.4;
  transition: opacity 1s;
  pointer-events: none;
}

img.slick-slide {
  max-width: 100vw;
}

.video-background {
  z-index: -99;
  max-height: 560px;
}

.video-foreground,
.video-background iframe {
  width: 100%;
  height: 560px;
}

.slick-button {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.5);
  text-align: center;
  z-index: 9999;
}

.slick-button img {
  position:absolute;
  width:100%;
  height:100%;
}

.slick-button .icons {
  background-color: #ff214f;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 53px;
  z-index:1;
}

.video-gallery-slider-thumbs .slick-track {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.video-gallery-slider-thumbs .slick-slide {
  border: 1px solid #ddd;
  text-align:center;
  padding: 10px;
}

.video-gallery-slider-thumbs .slick-current {
  border: 1px solid #000;
}

.video-gallery-slider-thumbs .slick-slide:focus,
.video-gallery-slider-thumbs .slick-slide:hover {
  outline:none;
  box-shadow:none;
}

/* .img-container{
  display: inline-block;
  vertical-align: top;

}
.img-container:hover{
/* opacity: 0.3; */
/* transform: scale(1.3);
transition-duration: 0.3s;

} */

.item {
    border: 0;
    margin: 2%;
    overflow: hidden;
    width: auto;
    display: inline-block;
}
.item img {
    max-width: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.item:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}


.artist-name{

  font-family: 'futura-pt';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

/* article{
 padding:0;
}
.artist-img{
  opacity: 1;
  display: block;
  width: 35%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
.img-container{
  opacity: 1;
  display: inline-block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;

}
.img-container:hover .artist-img{
opacity: 0.3;

}

span{

font-weight: 300;
font-size:0.4rem;
}


.bg-margin {
	margin: 20px auto;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */
